In [1]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\CHRIS\Downloads\datasets\HousingData.csv')
df.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,NaN,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,NaN,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [3]:
df.info

<bound method DataFrame.info of         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93   0.0  0.573  6.030   NaN  2.5050    1  273

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90    NaN  36.2
..       ...     ...    ...   ...
501     21.0  391.99    NaN  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [4]:
df['MEDV'].mean()

22.532806324110677

In [5]:
df['AGE'].mean()

68.51851851851852

In [14]:
df.groupby(['AGE']) ['MEDV'].mean()

AGE
2.9      26.600000
6.2      23.400000
6.5      24.700000
6.6      24.750000
6.8      29.600000
           ...
98.8     14.500000
98.9     13.066667
99.1     10.900000
99.3     17.800000
100.0    16.133333
Name: MEDV, Length: 348, dtype: float64

In [7]:
df['AGE_50']= df['AGE'].apply(lambda x:x>50)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,AGE_50
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,True
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,True
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,True
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,False
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2,True

In [8]:
df['CRIM'].value_counts()

14.33370    2
0.01501     2
0.00632     1
0.05023     1
0.02543     1
           ..
1.34284     1
1.22358     1
2.44668     1
3.53501     1
0.04741     1
Name: CRIM, Length: 484, dtype: int64

In [9]:
df['INDUS'].nunique()

76

In [10]:
df['INDUS'].unique()

array([ 2.31,  7.07,  2.18,  7.87,  8.14,  5.96,   nan,  2.95,  6.91,
        5.64,  4.  ,  1.22,  0.74,  1.32,  5.13,  1.38,  3.37,  6.07,
       10.81, 12.83,  4.86,  4.49,  3.41, 15.04,  2.89,  8.56, 10.01,
       25.65, 21.89, 19.58,  4.05,  2.46,  3.44,  2.93,  0.46,  1.52,
        1.47,  2.03,  2.68, 10.59, 13.89,  6.2 ,  4.93,  5.86,  3.64,
        3.75,  3.97,  6.96,  6.41,  3.33,  1.21,  2.97,  2.25,  1.76,
        5.32,  4.95, 13.92,  2.24,  6.09,  9.9 ,  7.38,  3.24,  6.06,
        5.19,  1.89,  3.78,  4.39,  4.15,  2.01,  1.25,  1.69,  2.02,
        1.91, 18.1 , 27.74,  9.69, 11.93])

In [11]:
#CORRELATION BETWEEN ALL THE COLUMNS AND ONLY ONE VARIABLES
corr = df.corr(method='pearson')
corr

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,AGE_50
CRIM,1.000000,-0.191178,0.401863,-0.054355,0.417130,-0.219150,0.354342,-0.374166,0.624765,0.580595,0.281110,-0.381411,0.444943,-0.391363,0.252000
ZN,-0.191178,1.000000,-0.531871,-0.037229,-0.513704,0.320800,-0.563801,0.656739,-0.310919,-0.312371,-0.414046,0.171303,-0.414193,0.373136,-0.543068
INDUS,0.401863,-0.531871,1.000000,0.059859,0.764866,-0.390234,0.638431,-0.711709,0.604533,0.731055,0.390954,-0.360532,0.590690,-0.481772,0.463167
CHAS,-0.054355,-0.037229,0.059859,1.000000,0.075097,0.104885,0.078831,-0.093971,0.001468,-0.032304,-0.111304,0.051264,-0.047424,0.181391,0.068715
NOX,0.417130,-0.513704,0.764866,0.075097,1.000000,-0.302188,0.731548,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.582641,-0.427321,0.543056
RM,-0.219150,0.320800,-0.390234,0.104885,-0.302188,1.000000,-0.247337,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.614339,0.695360,-0.166270
AGE,0.354342,-0.563801,0.638431,0.078831,0.731548,-0.247337,1.000000,-0.744844,0.458349,0.509114,0.269226,-0.275303,0.602891,-0.394656,0.867161
DIS,-0.374166,0.656739,-0.711709,-0.093971,-0.769230,0.205246,-0.744844,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.493328,0.249929,-0.614457
RAD,0.624765,-0.310919,0.604533,0.001468,0.611441,-0.209847,0.458349,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.479541,-0.381626,0.348986
TAX,0.580595,-0.312371,0.731055,-0.032304,0.668023,-0.292048,0.509114,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.536110,-0.468536,0.363020
PTRATIO,0.281110,-0.414046,0.390954,-0.111304,0.188933,-0.355501,0.269226,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.375966,-0.507787,0.228044
B,-0.381411,0.171303,-0.360532,0.051264,-0.380051,0.128069,-0.275303,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.369889,0.333461,-0.186332
LSTAT,0.444943,-0.414193,0.590690,-0.047424,0.582641,-0.614339,0.602891,-0.493328,0.479541,0.536110,0.375966,-0.369889,1.000000,-0.735822,0.437122
MEDV,-0.391363,0.373136,-0.481772,0.181391,-0.427321,0.695360,-0.394656,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.735822,1.000000,-0.286880
AGE_50,0.252000,-0.543068,0.463167,0.068715,0.543056,-0.166270,0.867161,-0.614457,0.348986,0.363020,0.228044,-0.186332,0.437122,-0.286880,1.000000