In [12]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [13]:
ufos = pd.read_csv(r'C:\Users\CHRIS\Downloads\datasets\UFO2.csv', on_bad_lines='skip')
ufos.head(10)

C:\Users\CHRIS\AppData\Local\Temp\ipykernel_6164\2310375490.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufos = pd.read_csv(r'C:\Users\CHRIS\Downloads\datasets\UFO2.csv', on_bad_lines='skip')

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167

In [14]:
ufos.shape

(88679, 11)

In [15]:
ufos = pd.DataFrame({'Seconds': ufos['duration (seconds)'], 'Country': ufos['country'],'Latitude': ufos['latitude'],'Longitude': ufos['longitude']})
ufos

      Seconds Country    Latitude   Longitude
0        2700      us  29.8830556  -97.941111
1        7200     NaN    29.38421  -98.581082
2          20      gb        53.2   -2.916667
3          20      us  28.9783333  -96.645833
4         900      us  21.4180556 -157.803611
...       ...     ...         ...         ...
88674  1200.0      us   38.297222 -122.284444
88675     5.0      us   38.901111  -77.265556
88676  1020.0      us   35.652778  -97.477778
88677     0.0      us   34.376944  -82.695833
88678     0.0      us   26.121944  -80.143611

[88679 rows x 4 columns]

In [16]:
ufos['Seconds'].isnull().sum()
ufos['Seconds']= pd.to_numeric(ufos['Seconds'], errors='coerce')

In [17]:
ufos.dropna(inplace=True)
ufos['Seconds']= pd.to_numeric(ufos['Seconds'])
ufos = ufos[(ufos['Seconds'] >= 1) & (ufos['Seconds'] <= 60)]

ufos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25861 entries, 2 to 88675
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seconds    25861 non-null  float64
 1   Country    25861 non-null  object
 2   Latitude   25861 non-null  object
 3   Longitude  25861 non-null  float64
dtypes: float64(2), object(2)
memory usage: 1010.2+ KB

In [18]:
from sklearn.preprocessing import LabelEncoder 
ufos['Country']= LabelEncoder().fit_transform(ufos['Country'])
ufos.head()

C:\Users\CHRIS\AppData\Local\Temp\ipykernel_6164\2760409349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufos['Country']= LabelEncoder().fit_transform(ufos['Country'])

    Seconds  Country    Latitude   Longitude
2      20.0        3        53.2   -2.916667
3      20.0        4  28.9783333  -96.645833
14     30.0        4  35.8238889  -80.253611
24     60.0        4  45.5827778 -122.352222
25      3.0        3   51.783333   -0.783333

In [19]:
from sklearn.model_selection import train_test_split
selected_features = [ 'Seconds','Latitude','Longitude']
X = ufos[selected_features]
y = ufos['Country']
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state= 0)

In [20]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
prediction = model. predict(X_test)
print(classification_report(y_test, prediction))
print ('predicted labels', prediction)
print ('accuracy', accuracy_score(y_test, prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        51
           1       0.77      0.37      0.50       320
           2       1.00      1.00      1.00         9
           3       1.00      1.00      1.00       180
           4       0.97      0.99      0.98      5906

    accuracy                           0.96      6466
   macro avg       0.95      0.87      0.90      6466
weighted avg       0.96      0.96      0.96      6466

predicted labels [4 4 4 ... 4 4 4]
accuracy 0.9633467367769873

c:\Users\CHRIS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# model pickle

In [21]:
import pickle
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pkl','rb'))
print(model.predict([[5,40,9]]))

[2]

c:\Users\CHRIS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(